<h1>You are on #linklist</h1>
<ul>
	<li><a href="https://devcenter.heroku.com/articles/getting-started-with-rails5">Getting Started on Heroku with Rails 5.x</a></li>
	<li><a href="https://devcenter.heroku.com/articles/getting-started-with-rails5">Set up Git</a></li>
	<li><a href="ttps://devcenter.heroku.com/articles/ruby-default-web-server">Heroku Procfile erforderlich? Puma ist default in Rails 5.</a></li>
	<li><a href="https://help.github.com/en/articles/adding-an-existing-project-to-github-using-the-command-line">Neues lokals Repository Push to Github.</a></li>
	<li><a href="https://devcenter.heroku.com/articles/github-integration">Automatic Deploys von Github Branch Master</a></li>
	